!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.DS_Store
.env*
.nyc_output
.pnp
.pnp.*
.pnpm-debug.log*
.turbo
.vscode
.yarn/*
*.log
*.pem
*.timestamp-*.*
*.tsbuildinfo
build
coverage
data
dist
extracted
node_modules
npm-debug.log*
playwright-report
playwright/.cache
test-results
Thumbs.db
yarn-debug.log*
yarn-error.log*
temp
